.magazine-container {
    padding: 1.5rem 0;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    transform: var(--transform-animation-below);
    opacity: 0;
    user-select: none;
    transition: 500ms cubic-bezier(0.4, 0, 1, 1);
}

.magazine-container.appear{
    transform: var(--transform-no-animation);
    opacity: 1;
}

.magazine-container h2 {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    user-select: none;
    font-family: var(--title-font-family);
    text-align: center;
}

.magazine-container p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
}

/* ========================= */
/* GRID LAYOUT (3 + 2) */
/* ========================= */

.magazine-page-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: start;   /* Left aligned second row */
}

/* Magazine Card */
.magazine-image {
    width: 100%;
    max-width: 300px;
    box-shadow: 2px 2px 20px #00000077;
    transition: 500ms ease-in;
    cursor: pointer;
}

.magazine-image img {
    width: 100%;
    display: block;
}

.magazine-image.blacked {
    filter: brightness(.5);
}

.magazine-image.hover {
    scale: 1.04;
}

/* ========================= */
/* RESPONSIVE SECTION */
/* ========================= */

/* Tablet */
@media screen and (max-width: 992px) {
    .magazine-page-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

/* Mobile */
@media screen and (max-width: 525px) {
    .magazine-page-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .magazine-image {
        max-width: 65%;
    }

    .magazine-container {
        gap: 1rem;
    }

    .magazine-container > p {
        font-size: .9rem;
        text-align: justify;
    }

    .magazine-container > h2 {
        font-size: 2.5rem;
    }
}

/* Extra Small */
@media screen and (max-width: 324px) {
    .magazine-container > h2 {
        font-size: 2rem;
    }
    .magazine-container > p {
        font-size: .8rem;
    }
}